---
import type { ButtonProps } from '#types/props';

type Props = ButtonProps;

const {
  isExternal = false,
  size = 'medium',
  url,
  variant = 'primary',
} = Astro.props;

const buttonSizeStyle = size === 'medium' ? undefined : 'button--small';
const buttonVariantStyle = variant === 'primary' ? undefined : 'button--secondary';
---

<a
  class=`button ${buttonVariantStyle} ${buttonSizeStyle}`
  href={url}
  target={isExternal ? '_blank' : '_self'}
>
  <span class="button__label">
    <slot />
  </span>
</a>

<style lang="scss">
  .button {
    @apply hover:bg-primary-light inline-block p-[14px_24px] rounded-lg transition-colors;

    &__label {
      @apply capitalize text-neutral-0;
    }

    &--secondary {
      @apply bg-neutral-350;
    }

    &--small {
      @apply text-button--small;
    }
  }
</style>
