---
import { Image } from '@astrojs/image/components';

import type { IconButtonProps } from '#types/props';

type Props = IconButtonProps;
const { icon, label, url } = Astro.props;
---

<a class="icon-button" href={url} aria-label={label} target="_blank">
  <Image
    class='icon-button__icon'
    src={icon.url}
    alt={icon.alt}
    width={15}
    height={15}
  />
  <span class="icon-button__label">{ label }</span>
</a>

<style lang="scss">
  .icon-button {
    @apply bg-neutral-350 box-content inline-block p-2 relative rounded-full transition-colors;

    &:hover {
      @apply bg-secondary-main;

      .icon-button {
        &__label {
          @apply opacity-100;
        }
      }
    }

    &__label {
      @apply absolute bg-neutral-300 left-2/4 opacity-0 p-2 rounded-lg text-tooltip top-[-40px];
      transform: translateX(-50%);

      &::after {
        @apply absolute left-2/4 text-neutral-300 top-[22px];
        content: '▾';
        font-size: 22px;
        transform: translateX(-50%);
      }
    }
  }
</style>
