---
import Test from '#components/test';
import BaseLayout from '#layouts/base-layout.astro';
---

<BaseLayout title="Welcome to Astro">
	<main class="text-red-100">
		Index
		<Test />
		<p>Abc</p>
	</main>
</BaseLayout>
