---
import { Button } from '#components/button';
import Hamburger from '#components/header/hamburger.astro';
import Logo from '#components/header/logo.astro';
import Navigation from '#components/header/navigation.astro';
import { headerStore } from '#stores/header-store';

const { button } = headerStore.get();
---

<div class="header__wrapper">
  <Logo />
  <Hamburger />
  <div class="header__interactive">
    <Navigation />
    <Button
      additionalClassName='lg:text-h4'
      isExternal
      className="lg:w-full"
      size='small'
      url={button.url}
      variant='secondary'
    >
    { button.label }
  </Button>
  </div>
</div>

<style lang="scss">
  .header {
    &__interactive {
      @apply flex gap-10 items-center;

      @screen lg {
        @apply fixed hidden;

        &--active {
          @apply bg-neutral-400 block left-0 min-h-screen px-4 top-[84px] w-full z-50;
        }
      }
    }

    &__wrapper {
      @apply flex items-center justify-between wrapper;
    }
  }
</style>
